[user]
  name = Rudi Plesch
  email = rudi.plesch@foo.com
[color]
  ui = true
[core]
  autocrlf = input
  safecrlf = false
  editor = /usr/local/bin/vim
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  root-branch = "!f() { git show-branch | grep '*'  | grep -v `git rev-parse --abbrev-ref HEAD` | head -n1 | cut -d'[' -f2 | cut -d']' -f1; }; f"
  co=checkout
  dt = difftool
[diff]
  tool = vimdiff
[difftool]
  prompt = false
